:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.calculator{
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid rgb(189, 180, 180);
  border-radius: 10px;
  text-align: center;
}
input{
  width: calc(100% - 20px);
  margin-bottom: 10px;
  border: 1px solid rgb(189, 180, 180);
  font-size: 24px;
  outline: none;
  border-radius: 6px;
  padding: 8px;
}
.buttons{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 10px;
  margin: 5px;
}
button{
  padding: 15px;
  font-size: 20px;
  cursor: pointer;
  background-color: #F0F0F0;
  color: black;
  border: none;
  border-radius: 5px;
  font-weight: 700;
  transition: background-color 0.3s ease-in;
}
button:hover{
  background-color: #a28f8f;
}
.equal{
  grid-column: span 3;
}